*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
}
.navigation{
    // border: 1px solid red;
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(238, 229, 235);


    .logo{
        // border: 1px solid red;
        width: fit-content;
        width: 5.5%;
        height: 10%;
        border-radius: 50%;
        font: optional;
        img{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-left: 15px;
            cursor: pointer;
        }
    }

    h2{
        color: rgb(24, 142, 215);

    }

    h2:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: all .1s linear;

    }
    .h3{
        margin-left: 475px;
        margin-right: 25px;
        color: chocolate;
        transition: all .1s linear;
    }

    .h3:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    h3{
        border-bottom: 4px solid transparent;
    }

    h3:hover{
        cursor: pointer;
        transition: all .1s linear;
        border-bottom-color: #FBE0DC;
        transform: scale(1.1);
    }

    .h5{
        position: absolute;
        right: 30px;
        color: rgb(24, 142, 215);
        background-color: rgb(233, 164, 115);
        border-radius: 15px;
        padding: 5px 15px;
        
    }

    .h5:hover{
        background-color: rgb(234, 138, 78);
        cursor: pointer;
        transform: scale(1.1);
    }

    .hh5{
        position: absolute;
        right: 130px;
        color: chocolate;
        transition: all .1s linear;

        
    }

    .hh5:hover{
        cursor: pointer;

        transform: scale(1.1);
    }

}

#cards_all{
    // width: 100%;
    // border: 1px solid red;
    // display: contents;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 10px;


   
}

.card{
    width: 480px;
    // border: 1px solid red;
    display: block;
    display: flex;
}
.image2{
    width: 200px;
}

.info{
    width: 150px;
    font-size: 14px;
    color: grey;
}
.bookinfo{
    color: black;
    font-weight: bold;
    font-size: 15px;
    h4{
        margin: 15px 0px 15px 25px;
        font-size: 20px;
        color: chocolate;

    }
 p{
    margin-bottom: 10px;
    margin-left: 35px;
 }



}

.loginmodal{
    display: none;
    background-color: rgb(230, 206, 189);
    width: 400px;
    height: 170px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 40%;
    left: 37%;
    
    .close-btn2{
        position: absolute;
        right: 13px;
        font-size: 24px;
        cursor: pointer;
        color: rgb(122, 20, 20);
    }

    .formlogin{
        margin-top: 30px;
        margin-left: 30px;
        input{
            height: 35px;
            border-radius: 10px;
            border-color: chocolate;
        }
    }

    .loginbtn{
        // border: 1px solid red;
        width: fit-content;
        display: block;
        margin: 15px auto;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(245, 213, 219);
        border-radius: 5px;
        color: rgb(221, 122, 16);
        padding: 4px 5px;


    }
    p{
        margin-left: 45%;
        color: rebeccapurple;
        font-size: 18px;
        display: none;
    }

    


}

.signupmodal{
    display: none;
    background-color: rgb(230, 206, 189);
    width: 400px;
    height: 170px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 40%;
    left: 37%;

    .close-btn{
        position: absolute;
        right: 13px;
        font-size: 24px;
        cursor: pointer;
        color: rgb(122, 20, 20);
    }

    .formsignup{
        margin-top: 30px;
        margin-left: 30px;
        input{
            height: 35px;
            border-radius: 10px;
            border-color: chocolate;
            margin-bottom: 5px;
        }
    }
    .signupbtn{
        // border: 1px solid red;
        width: fit-content;
        display: block;
        margin: 15px auto;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(245, 213, 219);
        border-radius: 5px;
        color: rgb(221, 122, 16);
        padding: 4px 5px;


    }
    p{
        margin-left: 45%;
        color: rebeccapurple;
        font-size: 18px;
        display: none;
    }


                



}

.MyBook_main{
    position: relative;
}

.loginmodal{
    display: none;
    background-color: rgb(230, 206, 189);
    width: 400px;
    height: 170px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 40%;
    left: 37%;
    
    .close-btn2{
        position: absolute;
        right: 13px;
        font-size: 24px;
        cursor: pointer;
        color: rgb(122, 20, 20);
    }

    .formlogin{
        margin-top: 30px;
        margin-left: 30px;
        input{
            height: 35px;
            border-radius: 10px;
            border-color: chocolate;
        }
    }

    .loginbtn{
        // border: 1px solid red;
        width: fit-content;
        display: block;
        margin: 15px auto;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(245, 213, 219);
        border-radius: 5px;
        color: rgb(221, 122, 16);
        padding: 4px 5px;


    }
    p{
        margin-left: 45%;
        color: rebeccapurple;
        font-size: 18px;
        display: none;
    }

    


}

.signupmodal{
    display: none;
    background-color: rgb(230, 206, 189);
    width: 400px;
    height: 170px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    right: 40%;
    left: 37%;

    .close-btn{
        position: absolute;
        right: 13px;
        font-size: 24px;
        cursor: pointer;
        color: rgb(122, 20, 20);
    }

    .formsignup{
        margin-top: 30px;
        margin-left: 30px;
        input{
            height: 35px;
            border-radius: 10px;
            border-color: chocolate;
            margin-bottom: 5px;
        }
    }
    .signupbtn{
        // border: 1px solid red;
        width: fit-content;
        display: block;
        margin: 15px auto;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(245, 213, 219);
        border-radius: 5px;
        color: rgb(221, 122, 16);
        padding: 4px 5px;


    }
    p{
        margin-left: 45%;
        color: rebeccapurple;
        font-size: 18px;
        display: none;
    }






}

.loginmaill{
    color: green;
    position: absolute;
    left: 220px;
    background-color: rgb(214, 222, 230);
    padding: 5px;
    border-radius: 10px;

}

.dasssh{
    position: absolute;
    right: 100px;
    font-size: 12px;
    font-weight: bold;
    color: chocolate;

}

.dasssh:hover{
    cursor: pointer;

    transform: scale(1.1);
}

.logout{
    position: absolute;
    right: 20px;
    color: rgb(207, 92, 92);
    // background-color: rgb(223, 213, 97);
    // padding: 3px;
    // border-radius: 7px;
    font-size: 12px;
    font-weight: bold;

}

.main-container{
    background-color: #f0d2cc;

}


